# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mudit Lodha\Desktop\uni\JKLU\Semester 3\Foundations of Computer Science\Foundation of Computer Science\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
